@import url(//db.onlinewebfonts.com/c/c1733d03fa03da0e77d61f11ba8e77de?family=ChurchwardDesignLines-Regular);
@font-face {font-family: "ChurchwardDesignLines-Regular"; src: url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.eot"); src: url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.woff") format("woff"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.svg#ChurchwardDesignLines-Regular") format("svg"); } 

.center {
    background-color: coral;
    margin: auto;
    width: 90%;
    padding: 20px;
    /*border: 3px solid green;
    text-align: center;*/
}

button{
    width:30%;
    max-width: 250px;
    background-color: rgb(255, 219, 205);
    border: 4px solid coral;
    border-radius: 10px;
    transition-duration: 0.4s;  
    text-align: left;
    padding: 5px;
    color: coral;
    font-size: medium;

}

button:hover{
    background-color: rgb(255, 202, 183);
}

title{
    /*font-family: ChurchwardDesignLines-Regular;*/
    background-color: coral; 
    color: rgb(255, 219, 205); 
    padding: 0 5px;
}
