/* @import url(//db.onlinewebfonts.com/c/c1733d03fa03da0e77d61f11ba8e77de?family=ChurchwardDesignLines-Regular);
@font-face {font-family: "ChurchwardDesignLines-Regular"; src: url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.eot"); src: url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.woff") format("woff"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/c1733d03fa03da0e77d61f11ba8e77de.svg#ChurchwardDesignLines-Regular") format("svg"); }  */

@font-face {
    font-family: 'churchward-design-lines';
    src: url('fonts/churchward-design-lines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design-mysshadow';
    src: url('fonts/churchward-design-mysshadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design-noend';
    src: url('fonts/churchward-design-noend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design-revshadow';
    src: url('fonts/churchward-design-revshadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'churchward-design';
    src: url('fonts/churchward-design.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  

  body {
    background-color: coral;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.center {
    background-color: coral;
    margin: auto;
    width: 80%;
    padding: 0px;
}

.title {
    font-family: 'churchward-design-lines', sans-serif;
    background-color: coral;
    color: rgb(255, 219, 205);
    padding: 10px 5px; 
    margin: 0; 
    font-size: 60px;
}

.content-container {
    background-color: rgb(255, 219, 205);
    flex-grow: 1;   
}

.section-container {
    padding: 10px 30px;
}

.section-title {
    font-family: 'churchward-design', sans-serif;
    background-color: rgb(255, 219, 205);
    color: rgb(241, 85, 28);
    padding: 0 0px;
    margin: 0; 

}

.page-title {
    font-family: 'churchward-design-mysshadow', sans-serif;
    background-color: rgb(255, 219, 205);
    color: rgb(241, 85, 28);
    padding: 10px;
    margin: 0; 
    font-size: 40px;


}

.section-text {
    background-color: rgb(255, 219, 205);
    color: rgb(241, 85, 28);
    width: 80%;
    margin: 0; 
    padding: 5px 0px;
}

.section-image {
    max-width: 100%;
    margin-top: 10px;
}

.links-container {
    float: left;
    width: 10%;
}

.left-links {
    padding: 0;    
    background-color: #61A0A8;
    
    width: 100%;
    margin-bottom: 20px; /* Add some space between link sets and content */
}

.left-links a {
    font-family: 'churchward-design', sans-serif;
    display: block;
    margin-bottom: 10px;
    color: rgb(255, 219, 205);
    text-decoration: none;
    font-size: 40px;

}

.left-links a:hover {
    color: rgb(255, 255, 255);
}

.section-container a {
    color: #61A0A8;
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-container a:hover {
    color: #4b7c83;
}
