/* Font Declarations */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400..700&display=swap');

@font-face {
    font-family: 'churchward-design-lines';
    src: url('fonts/churchward-design-lines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'churchward-design-mysshadow';
    src: url('fonts/churchward-design-mysshadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'churchward-design-noend';
    src: url('fonts/churchward-design-noend.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'churchward-design-revshadow';
    src: url('fonts/churchward-design-revshadow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'churchward-design';
    src: url('fonts/churchward-design.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* Primary colors */
    --color-primary: coral;
    --color-primary-light: rgb(255, 219, 205);
    
    /* Text colors */
    --color-text-dark: #461909;
    --color-text-medium: #7D2C0F;
    
    /* Accent colors */
    --color-accent: #3B656A;
    --color-accent-hover: #4b7c83;
    --color-accent-dark: #21373a;
    
    /* Border and detail colors */
    --color-border: rgba(125, 44, 15, 0.2);
}

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-primary);
    margin: 0;
}

.center {
    background-color: var(--color-primary);
    margin: auto;
    width: 80%;
    padding: 0px;
}

.title {
    font-family: 'churchward-design-lines', sans-serif;
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    padding: 10px 5px; 
    margin: 0; 
    font-size: 65px;
}

.content-container {
    background-color: var(--color-primary-light);
    flex-grow: 1;   
    padding-bottom: 40px;
    margin-bottom: 10%;
}

.section-container {
    padding: 10px 30px;
}

.section-title {
    font-family: 'churchward-design', sans-serif;
    background-color: var(--color-primary-light);
    color: var(--color-text-medium);
    padding: 0 0px;
    margin: 0; 
}

.page-title {
    font-family: 'churchward-design-mysshadow', sans-serif;
    background-color: var(--color-primary-light);
    color: var(--color-text-medium);
    padding: 10px;
    margin: 0; 
    font-size: 40px;
    padding-left: 30px;
    padding-top: 10px;
}

.section-text {
    background-color: var(--color-primary-light);
    color: var(--color-text-dark);
    padding-left: 4px;
    padding-bottom: 10px;
    line-height: 1.5;

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}

.section-image {
    /* height: 100%;  this doesn't work */
}

/* Links Styling */
.links-container {
    float: left;
    width: 10%;
}

.left-links {
    background-color: var(--color-accent);
    width: 100%;
    margin-bottom: 20px; 
    padding-top: 5px;
    padding-bottom: 5px;
}

.left-links a {
    font-family: 'churchward-design', sans-serif;
    display: block;
    margin-bottom: 2px;
    color: var(--color-primary-light);
    text-decoration: none;
    font-size: 30px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    line-height: 0.8;
}

.left-links a:hover {
    color: rgb(255, 255, 255);
}

.section-container a {
    color: var(--color-accent);
    text-decoration: none;
    transition: color 0.3s ease;
}

.section-container a:hover {
    color: var(--color-accent-hover);
}

.image-container {
    display: flex;
    width: 100%;
    gap: 10px; 
    height: 50vh;
}
/*
    .image-container img {
        object-fit: contain; 
        height: 100%; 
        flex: 1; /* Each image takes equal width */
        /* max-width: 50%; */
    /* } */ */

/* Publication Styles */
.publication-container {
    width: 100%;
    padding: 0;
}

.publication-item {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 10px;
    background-color: var(--color-primary-light);
}

.publication-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.publication-image {
    flex: 0 0 25%;
    padding: 10px;
    text-align: right;
}

.publication-image img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

.publication-content {
    flex: 0 0 75%;
    padding: 10px 20px;
    color: var(--color-text-medium);

    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: medium;
}

.publication-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.publication-title a {
    color: var(--color-accent-dark);
    text-decoration: none;
}

.publication-title a:hover {
    color: var(--color-accent-hover);
}

.publication-authors {
    margin-bottom: 10px;
}

.publication-authors a {
    color: var(--color-accent-dark);
    text-decoration: none;
}

.publication-authors a:hover {
    color: var(--color-accent-hover);
}

.publication-venue {
    margin-bottom: 10px;
}

.publication-venue a {
    color: var(--color-accent-dark);
    text-decoration: none;
}

.publication-venue a:hover {
    color: var(--color-accent-hover);
}

.publication-links {
    margin-top: 10px;
}

.publication-links a {
    margin-right: 10px;
    color: var(--color-accent-dark);
    text-decoration: none;
}

.publication-links a:hover {
    color: var(--color-accent-hover);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    body {
        font-size: large;
    }
    
    .links-container .left-links a {
        font-size: 30px; 
    }
    
    .title {
        font-size: 50px; 
        font-family: 'churchward-design-noend', sans-serif;
    }
    
    .page-title {
        font-size: 30px;
    }
    
    .links-container {
        float: none;
        width: 60%;
    }
    
    .center {
        width: 95%;
    }
    
    .section-container {
        padding: 10px;
    }
    .section-image {
        height: auto;
        width: 100%;
    }
    
    .section-text {
        width: 98%;
    }
    
    .image-container
    {
        flex-direction: column;
        height: auto
    }
    
    .publication-item {
        flex-direction: column; /* Reverse to show text first, then image */
    }
    
    .publication-image, 
    .publication-content {
        flex: 0 0 100%;
        width: 100%;
    }
    
    .publication-image {
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 601px) and (max-width: 1090px) {
    .links-container {
        width: 20%;
        float: none;
        font-size: 25px;
    }

    .image-container
    {
        flex-direction: column;
        height: auto
    }
    
    .publication-item {
        flex-direction: row;
    }
    
    .publication-image {
        flex: 0 0 30%;
    }
    
    .publication-content {
        flex: 0 0 70%;
    }
}   